@charset "utf-8";
#icons #icon1 {
    width: 30%;
    height: 10%;


}
#icons #icon2 {
    width: 30%;
    height: 0%;
}
#icons #icon3 {
    width: 30%;
    height: 0%;
}
#icons {
    left: 0px;
    padding-left: 146px;
    margin-bottom: 42px;
    margin-top: 25px;
    filter: grayscale(100%);
}
#txtDisplay {
    width: 1540px;
    height: 103px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 161px;
}
#txtDisplay #mainText {
    font-size: 25.8pt;
    text-align: center;
}
#vidDisplay #id source {
}
#vidDisplay {
    max-width: 1280px;
    max-height: 720px;
    display: block;
    margin-left: 293px;
}
#essay {
    text-align: center;
    max-width: 691pt;
    position: static;
    left: 0px;
    margin-left: 465px;
}
#essay #textTitle1 {
    font-size: xx-large;
}
#essay #textTitle2 {
    font-size: xx-large;
}
#essay #textTitle3 {
    font-size: xx-large;
}
#essay #firstBody4 {
    font-weight: bold;
    font-size: x-large;
    font-style: oblique;
}
body {
    background-image: -webkit-linear-gradient(270deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-image: -moz-linear-gradient(270deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-image: -o-linear-gradient(270deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-image: linear-gradient(180deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-repeat: repeat;
}
#essay #endText {
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
}
#essay #textTitle {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}
#icons #9mm Makarov {
    position: absolute;
    margin-left: 0px;
    padding-left: 0px;
}
#iconText9mm {
    position: absolute;
    float: left;
    top: 980px;
    display: inline-block;
    left: 218px;
    color: rgba(255,255,255,1.00);
    font-size: x-large;
}
#iconText54r {
    position: absolute;
    top: 980px;
    left: 659px;
    font-size: x-large;
    color: rgba(255,255,255,1.00);
    display: inline-block;
}
#essay #essayBody1 {
}
#essay #essayBody2 {
}
#essay #essayBody3 {
}
#essay #essayBody4 {
}
#essay #essayBody5 {
}
#essay #essayBody6 {
}
#essay #essayBody7 {
}
#essay #essayBody8 {
}
