@charset "utf-8";
body {
    background-image: -webkit-linear-gradient(270deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-image: -moz-linear-gradient(270deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-image: -o-linear-gradient(270deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-image: linear-gradient(180deg,rgba(147,147,147,1.00) 0%,rgba(255,255,255,1.00) 27.46%);
    background-repeat: repeat;
}
#icons #icon1 {
    width: 30%;
    height: 10%;


}
#icons #icon2 {
    width: 30%;
    height: 0%;
}
#icons #icon3 {
    width: 30%;
    height: 0%;
}
#icons {
    left: 0px;
    padding-left: 146px;
    margin-bottom: 42px;
    margin-top: 25px;
    filter: grayscale(100%);
}
#txtDisplay {
    /* [disabled]width: 1540px; */
    /* [disabled]height: 103px; */
    /* [disabled]margin-top: 15px; */
    margin-bottom: 0px;
    /* [disabled]margin-left: 161px; */
    text-align: center;
}
#vidDisplay #id {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 600px;
    max-height: auto;
}
#txtDisplay #mainText {
    font-size: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 800px;
}
#essay {
    text-align: center;
    max-width: 700px;
    position: static;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
}
#essay #textTitle1 {
    font-size: xx-large;
}
#essay #textTitle2 {
    font-size: xx-large;
}
#essay #textTitle3 {
    font-size: xx-large;
}
#essay #firstBody4 {
    font-weight: bold;
    font-size: x-large;
    font-style: oblique;
}
#essay #endText {
    font-weight: bold;
    font-size: x-large;
    font-style: italic;
}
#essay #textTitle {
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline;
}
#icons #9mm Makarov {
    position: absolute;
    margin-left: 0px;
    padding-left: 0px;
}
#iconText9mm {
    position: absolute;
    float: left;
    top: 980px;
    display: inline-block;
    left: 218px;
    color: rgba(255,255,255,1.00);
    font-size: x-large;
}
#iconText54r {
    position: absolute;
    top: 980px;
    left: 659px;
    font-size: x-large;
    color: rgba(255,255,255,1.00);
    display: inline-block;
}
