@charset "UTF-8";
.top.row img {
		width: 300px;
		height: auto;
		max-height: 200px;
		filter: greyscale(100%);
}
body {
    background-image: url(../images/Light%20Grey%20background.jpg);
    background-repeat: repeat;
    height: 1024px;
}
#caption {
    border-width: medium;
    Border-style: solid;
    min-height: 100px;
    font-family: english;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    max-width: 900px;
    text-align: center;
    border-radius: 35px;
}
hi {
}
h1 {
    font-family: english;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    border-style: none;
}
