@charset "utf-8";
.important {
    background-image: url(../images/graph_paper.gif);
}
.important {
    width: 300px;
    height: auto;
    max-height: 200px;
    display: flex;
}
.row.one {
    width: 300px;
    height: auto;
    max-width: 200px;
    display: flex;
}
#id {
}
#id {
}
#id {
    width: 300px;
    height: auto;
    max-height: 200px;
    display: flex;
}
.row.one {
    width: 300px;
    max-height: 600px;
    display: flex;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#id {
}
#id img {
}
#id {
}
#id {
    position: absolute;
    right: 300px;
}
.row.one img {
    position: static;
}
.row.one #ds {
}
body {


}
.row.one {
    right: auto;



}
.row.one #as {
}
.row.one #ds {
    position: absolute;

}
.row.one #bc {
    position: relative;
}
.row.one #ds {
    position: relative;
}
.row.one #as {
    position: relative;
    border-width: thick;
    border-style: solid;
}
.row.one #bc {
    border-width: thick;
    border-style: solid;
}
.row.one #ds {
    border: thick solid #F8F8F8;
}
.row.one #bc {
    border: thick solid #F5F5F5;
}
.row.one #as {
    border: thick solid #FFFFFF;
}
#id #ff {
    border-radius: flex;
    border: thick solid #F9F9F9;
}
#id #fmab {
    border: thick double #F9F9F9;
}
#id #m {
    border: thick solid #FFFFFF;
}
h1 {
    color: #000000;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px #98010F;
    font-size: xx-large;
    text-decoration: none;
    border: absolute;
    border-radius: flex;
    background-color: #EF0B0F;
}
.one #ds {
    display: block;
}
.one #bc {
    display: block;
}
.one #as {
    display: center
.block;
    display: none;
}
.one #bc {
    display: inline;
}
.one #as {
    display: inline;
}
.one #ds {
    display: inline;
}
.one {
    text-align: center;
}
#id {

}
.two {
    text-align: center;
}
.three {
    text-align: center;
}
#row one {
    border-width: medium;
    border-style: solid;
    min-height: 100px;
    max-width: 900px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    text-align: center;


}
#row one {
    border-style: solid;
}
.two #rowtwo {
    font-size: xx-large;
    text-align: center;
    color: #EB810B;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    text-shadow: 2px 0px #000000;
}
.one #rowone {
    color: #E110DA;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    text-shadow: 2px 0px #000000;
}
.three #rowthree {
    color: #13EDBA;
    font-family: "vt323";
    font-style: normal;
    font-weight: 400;
    font-size: xx-large;
    text-shadow: 3px 0px #000000;
}
.three #rowthree {
}
.three #rowthree {
    color: #17BEE8;
}
