@charset "utf-8";

.videoAndButton button {
    position: relative;
    bottom: -20px;
    left: -320px;
}
.middlerowofvideos {
    display: flex;
    left: -465px;
	width: auto;
	
}
.videoAndButton {}
.bottomprowofvideos {
    display: flex;
    left: -495px;
    width: auto;
	
}
.topline {
  color: rgba(24, 199, 66, 1.00);
  font-family: eater-caps;
  font-style: normal;
  font-weight: 400;
  font-size: xx-large;
}
.P1 {
  color: rgba(163, 19, 21, 1.00);
  font-family: caesar-dressing;
  font-style: normal;
  font-weight: 400;
  font-size: x-large;
}


.c4 {
  font-family: cabin-sketch;
  font-style: normal;
  font-weight: 400;
  font-size: x-large;
  color: rgba(134, 2, 71, 1.00);
}
.c5 {
  font-family: cabin-sketch;
  font-style: normal;
  font-weight: 400;
  font-size: x-large;
  color: rgba(56, 78, 52, 1.00);
}
.c6 {
    font-family: cabin-sketch;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    color: rgba(3,88,189,1.00);	
}
.c7 {
  font-family: cabin-sketch;
  font-style: normal;
  font-weight: 400;
  font-size: x-large;
  color: rgba(50, 209, 128, 1.00);
}
.c8 {
  font-family: cabin-sketch;
  font-style: normal;
  font-weight: 400;
  font-size: x-large;
  color: rgba(255, 0, 198, 1.00);
}

.c1 {
    font-family: cabin-sketch;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    color: rgba(0,90,24,1.00);	
}



.toprowofvideos .videoAndButton #caption2 {
    font-family: cabin-sketch;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    color: rgba(152,159,43,1.00);	
	
}
.middlerowofvideos .videoAndButton #caption3 {
    font-family: cabin-sketch;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    color: rgba(14,236,177,1.00);	
}
.toprowofvideos {
	 display: flex;
    left: -465px;
	width: auto;
    
}

.Zero {
	font-family: cabin-sketch;
    font-style: normal;
    font-weight: 400;
    font-size: x-large;
    color: rgba(255,142,0,1.00);
}
.videoAndButton video {
    width: 320px;
    height: 240px;
    max-width: 320px;
    max-height: 240px;
}
